.screen {
    background-color: rgb(148, 142, 142);
    width: 85%;
    height: 50px;
    margin: 30px;
    margin-top: 0;
    transform: perspective(10px) rotateX(2deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
  
  .TV {
    width: 80%;
    background-color: black;
    height: 10px;
  }
  
  .ghe {
    /*ghế thường*/
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(144, 138, 138);
    color: white;
  }
  
  .gheDaDat {
    background-color: rgb(191, 56, 56);
    cursor: no-drop;
  }
  
  .gheDangDat {
    background-color: rgb(76, 189, 76) !important;
  }
  
  .gheVip {
    background-color: rgb(240, 158, 7);
  }
  
  .gheDaDuocDat {
    box-shadow: rgba(130, 250, 252, 0.999) 0px 54px 55px, rgb(153, 248, 245) 0px -12px 30px, rgb(116, 246, 246) 0px 4px 6px, rgb(121, 255, 251) 0px 12px 13px, rgb(117, 255, 255) 0px -3px 5px;
    background-color: rgb(83, 248, 251);
    color: black;
    border: 1px rgb(33, 171, 181) solid;
  }
  
  .gheKhachDat{
    background-color: rgb(83, 74, 74);
    cursor: no-drop;
  }
  